# Analyses in R Final Project

### load packages

In [10]:
library("dplyr")
library("ggplot2")
library("car")
library("rcompanion")
library("IDPmisc")
library("caret")
library("gvlma")
library("predictmeans")
library("e1071")
library("lmtest")
library("lattice")

In [12]:
apps = read.csv('../Data/mergedOneRecord.csv')

In [14]:
head(apps)

  X   gender ownsCar ownsRealty numChildren totalIncome incomeType
1   0 M      Y       Y          0           427500      Working
2  31 M      Y       Y          0           112500      Working
3  61 F      N       Y          0           270000      Commercial associate
4 137 F      N       Y          0           283500      Pensioner
5 188 M      Y       Y          0           270000      Working
6 237 M      Y       Y          0           135000      Commercial associate
  eduLvl                        famStatus            housingType
1 Higher education              Civil marriage       Rented apartment
2 Secondary / secondary special Married              House / apartment
3 Secondary / secondary special Single / not married House / apartment
4 Higher education              Separated            House / apartment
5 Higher education              Married              House / apartment
6 Secondary / secondary special Married              House / apartment
  occupation     famSize ageYrs yrsEmpl   UNEMPLOYED ApprStatus
1 Not identified 2       33     12.435574 1          1
2 Security staff 2       59      3.104787 1          1
3 Sales staff    1       53      8.353354 1          1
4 Not identified 1       62      0.000000 0          0
5 Accountants    2       47      2.105450 1          0
6 Laborers       2       49      3.269061 1          1

In [15]:
str(apps)

'data.frame':	13311 obs. of  16 variables:
 $ X          : int  0 31 61 137 188 237 254 281 307 768419 ...
 $ gender     : chr  "M" "M" "F" "F" ...
 $ ownsCar    : chr  "Y" "Y" "N" "N" ...
 $ ownsRealty : chr  "Y" "Y" "Y" "Y" ...
 $ numChildren: int  0 0 0 0 0 0 0 0 0 0 ...
 $ totalIncome: num  427500 112500 270000 283500 270000 ...
 $ incomeType : chr  "Working" "Working" "Commercial associate" "Pensioner" ...
 $ eduLvl     : chr  "Higher education" "Secondary / secondary special" "Secondary / secondary special" "Higher education" ...
 $ famStatus  : chr  "Civil marriage" "Married" "Single / not married" "Separated" ...
 $ housingType: chr  "Rented apartment" "House / apartment" "House / apartment" "House / apartment" ...
 $ occupation : chr  "Not identified" "Security staff" "Sales staff" "Not identified" ...
 $ famSize    : num  2 2 1 1 2 2 2 2 2 2 ...
 $ ageYrs     : num  33 59 53 62 47 49 49 30 30 52 ...
 $ yrsEmpl    : num  12.44 3.1 8.35 0 2.11 ...
 $ UNEMPLOYED : int  1 1 1 0 1 1 1 1 1 0 ...
 $ ApprStatus : int  1 1 1 0 0 1 0 0 1 1 ...

In [16]:
## How many females vs males get approved?

In [ ]:
## How many of the married applicants are female?

# Data Wrangling

# One Way Between Subjects ANOVA

In [ ]:
# Is there a difference in income among all categories of occupation type?

In [ ]:
# Normality of the DV (totalIncome)
plotNormalHistogram(apps3$AMT_INCOME_TOTAL)

In [ ]:
# try sqrt due to slight positive skew
apps3$AMT_INCOME_TOTALSQRT <- sqrt(apps3$AMT_INCOME_TOTAL)

In [ ]:
plotNormalHistogram(apps3$AMT_INCOME_TOTALSQRT)

In [ ]:
# homogeneity of variance - bartlett's test
bartlett.test(AMT_INCOME_TOTALSQRT~OCCUPATION_TYPE, data = apps3)

In [ ]:
## Since p val is <.05, this assumption fails.

In [ ]:
# Is there a difference in income among all categories of family status type?

In [ ]:
unique(apps3$NAME_FAMILY_STATUS)

In [ ]:
# homogeneity of variance - bartlett's test
bartlett.test(AMT_INCOME_TOTALSQRT~NAME_FAMILY_STATUS, data = apps3)

In [ ]:
# Is there a difference in income among all categories of HOUSING type?

In [ ]:
bartlett.test(AMT_INCOME_TOTALSQRT~NAME_HOUSING_TYPE, data = apps3)

In [ ]:
# Is there a difference in income among all categories of EDUCATION type?

In [ ]:
bartlett.test(AMT_INCOME_TOTALSQRT~NAME_EDUCATION_TYPE, data = apps2)

In [ ]:
# Is there a difference in income among all categories of INCOME type?

In [ ]:
bartlett.test(AMT_INCOME_TOTALSQRT~NAME_INCOME_TYPE, data = apps2)

### the DV (total income) has a normal distribution, but none of the categorical variables in this dataset pass the assumption of homogeneity as it pertains to total income.  Therefore, ANOVAs and MANOVAs cannot be followed through with with the expectations of receiving accurate conclusions.

In [ ]:
#