# Analyses in R Final Project

### load packages

In [11]:
library("dplyr")
library("ggplot2")
library("car")
library("rcompanion")
library("IDPmisc")
library("caret")
library("gvlma")
library("predictmeans")
library("e1071")
library("lmtest")
library("lattice")

In [12]:
apps = read.csv('../Data/BALANCEDDummyDropOL.csv')

In [13]:
head(apps)

  X totalIncome famSize ageYrs yrsEmpl    UNEMPLOYED ApprStatus ownsCarR
1 0 238500      2       47     13.5991841 1          1          0
2 1 135000      3       41      4.7995510 1          0          1
3 2 157500      2       40     12.5067592 1          0          0
4 3 225000      2       24      0.2573633 1          1          0
5 4  67500      2       37      3.2635852 1          1          0
6 5 180000      4       42     14.8449318 1          1          1
  ownsRealtyR eduLvlR incomeTypeR housingTypeR famStatusR genderR
1 1           0       0           1            1          0
2 1           1       0           1            1          0
3 1           1       0           1            1          0
4 1           2       1           1            0          0
5 1           1       0           1            2          0
6 0           0       0           1            1          0

In [ ]:
# subset data to keep features of importance as predictor variables and approval status

# Stepwise Logistic Regression