# Sampling

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install imblearn

Requirement already satisfied: imblearn in c:\python3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\python3\lib\site-packages (from imblearn) (0.9.1)
Requirement already satisfied: scipy>=1.3.2 in c:\python3\lib\site-packages (from imbalanced-learn->imblearn) (1.8.0)
Requirement already satisfied: scikit-learn>=1.1.0 in c:\python3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in c:\python3\lib\site-packages (from imbalanced-learn->imblearn) (1.22.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python3\lib\site-packages (from imbalanced-learn->imblearn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\python3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from imblearn.under_sampling import fit_sample

ImportError: cannot import name 'fit_sample' from 'imblearn.under_sampling' (C:\Python3\lib\site-packages\imblearn\under_sampling\__init__.py)

In [4]:
from imblearn.under_sampling import RandomUnderSampler

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
cleanDummy = pd.read_csv('../Data/cleanDummy.csv')

In [7]:
cleanDummy.head()

,Unnamed: 0,totalIncome,famSize,ageYrs,yrsEmpl,UNEMPLOYED,ApprStatus,genderR,ownsCarR,ownsRealtyR,eduLvlR,incomeTypeR,housingTypeR,famStatusR
0,0,427500.0,2.0,33.0,12.435574,1,1,1,1,1,0,0,0,0
1,31,112500.0,2.0,59.0,3.104787,1,1,1,1,1,1,0,1,1
2,61,270000.0,1.0,53.0,8.353354,1,1,0,0,1,1,1,1,2
3,137,283500.0,1.0,62.0,0.000000,0,0,0,0,1,0,2,1,3
4,188,270000.0,2.0,47.0,2.105450,1,0,1,1,1,0,0,1,1

In [8]:
# Drop Unnamed:0 col
cleanDummy.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
cleanDummy.head()

,totalIncome,famSize,ageYrs,yrsEmpl,UNEMPLOYED,ApprStatus,genderR,ownsCarR,ownsRealtyR,eduLvlR,incomeTypeR,housingTypeR,famStatusR
0,427500.0,2.0,33.0,12.435574,1,1,1,1,1,0,0,0,0
1,112500.0,2.0,59.0,3.104787,1,1,1,1,1,1,0,1,1
2,270000.0,1.0,53.0,8.353354,1,1,0,0,1,1,1,1,2
3,283500.0,1.0,62.0,0.000000,0,0,0,0,1,0,2,1,3
4,270000.0,2.0,47.0,2.105450,1,0,1,1,1,0,0,1,1

In [10]:
cleanDummy['genderR'].value_counts()  # 0=F, 1=M

0    8561
1    4750
Name: genderR, dtype: int64

In [ ]:
# Undersample female

X = cleanDummy.drop('genderR', axis=1)
y = cleanDummy['genderR']

In [ ]:
sampler = RandomUnderSampler(sampling_strategy='auto')

In [ ]:
X_res, y_res = sampler.fit_sample(X, y)

In [ ]:
print('Resampled dataset shape %s' % Counter(y_res))

In [ ]:
# Undersample female
X, y = cleanDummy.make_classification(
    n_classes=2,
    weights=[.1, .6],
    n_informative=2,
    n_samples=10000,
    random_state=42
)
print('Original dataset shape %s' % collections.Counter(y))

rus = under_sampling.RandomUnderSampler(sampling_strategy='auto', random_state=42)
X_res, y_res = rus.fit_resample(X, y)
print('Resampled dataset shape %s' % collections.Counter(y_res))

In [ ]:
vectorizer = TfidfVectorizer()
matrix = vectorizer.fit_transform(cleanDummy.genderR)
X = matrix
y = cleanDummy[['genderR']]

In [ ]:

under_sampler = RandomUnderSampler(random_state=42)
X_res, y_res = under_sampler.fit_resample(X_train, y_train)
print(f"Training target statistics: {Counter(y_res)}")
print(f"Testing target statistics: {Counter(y_test)}")