# Sampling

In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
import warnings
warnings.filterwarnings('ignore')

In [39]:
from imblearn.under_sampling import RandomUnderSampler

In [40]:
from sklearn.datasets import make_classification

In [41]:
cleanDummy = pd.read_csv('../Data/cleanDummy.csv')

In [5]:
cleanDummy.head()

,Unnamed: 0,totalIncome,famSize,ageYrs,yrsEmpl,UNEMPLOYED,ApprStatus,genderR,ownsCarR,ownsRealtyR,eduLvlR,incomeTypeR,housingTypeR,famStatusR
0,0,427500.0,2.0,33.0,12.435574,1,1,1,1,1,0,0,0,0
1,31,112500.0,2.0,59.0,3.104787,1,1,1,1,1,1,0,1,1
2,61,270000.0,1.0,53.0,8.353354,1,1,0,0,1,1,1,1,2
3,137,283500.0,1.0,62.0,0.000000,0,0,0,0,1,0,2,1,3
4,188,270000.0,2.0,47.0,2.105450,1,0,1,1,1,0,0,1,1

In [6]:
# Drop Unnamed:0 col
cleanDummy.drop('Unnamed: 0', axis=1, inplace=True)

In [44]:
cleanDummy.head()

,Unnamed: 0,totalIncome,famSize,ageYrs,yrsEmpl,UNEMPLOYED,ApprStatus,genderR,ownsCarR,ownsRealtyR,eduLvlR,incomeTypeR,housingTypeR,famStatusR
0,0,427500.0,2.0,33.0,12.435574,1,1,1,1,1,0,0,0,0
1,31,112500.0,2.0,59.0,3.104787,1,1,1,1,1,1,0,1,1
2,61,270000.0,1.0,53.0,8.353354,1,1,0,0,1,1,1,1,2
3,137,283500.0,1.0,62.0,0.000000,0,0,0,0,1,0,2,1,3
4,188,270000.0,2.0,47.0,2.105450,1,0,1,1,1,0,0,1,1

In [8]:
cleanDummy['genderR'].value_counts()  # 0=F, 1=M

0    8561
1    4750
Name: genderR, dtype: int64

In [25]:
# Undersample female

X = cleanDummy.drop('genderR', axis=1)
y = cleanDummy['genderR']

In [26]:
sampler = RandomUnderSampler(sampling_strategy='auto')

In [27]:
X_res, y_res = sampler.fit_resample(X, y)

In [28]:
print('Resampled dataset shape %s' % Counter(y_res))

Resampled dataset shape Counter({0: 4750, 1: 4750})

In [29]:
counter = Counter(y_res)
print(counter)

Counter({0: 4750, 1: 4750})

In [50]:
X_res, y_res

(      totalIncome  famSize  ageYrs    yrsEmpl  UNEMPLOYED  ApprStatus  \
 0        238500.0      2.0    47.0  13.599184           1           1
 1        135000.0      3.0    41.0   4.799551           1           0
 2        157500.0      2.0    40.0  12.506759           1           0
 3        225000.0      2.0    24.0   0.257363           1           1
 4         67500.0      2.0    37.0   3.263585           1           1
 ...           ...      ...     ...        ...         ...         ...
 9495     112500.0      1.0    26.0   3.266323           1           0
 9496     157500.0      4.0    40.0  12.265823           1           1
 9497     112500.0      1.0    28.0   4.517547           1           0
 9498     202500.0      2.0    30.0   3.600348           1           0
 9499     202500.0      2.0    54.0   5.930307           1           1

       ownsCarR  ownsRealtyR  eduLvlR  incomeTypeR  housingTypeR  famStatusR
 0            0            1        0            0             1           1
 1            1            1        1            0             1           1
 2            0            1        1            0             1           1
 3            0            1        2            1             1           0
 4            0            1        1            0             1           2
 ...        ...          ...      ...          ...           ...         ...
 9495         0            1        1            0             0           2
 9496         1            1        1            0             1           1
 9497         1            1        1            0             1           2
 9498         1            1        1            0             1           0
 9499         1            0        1            0             1           1

 [9500 rows x 12 columns],
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 9495    1
 9496    1
 9497    1
 9498    1
 9499    1
 Name: genderR, Length: 9500, dtype: int64)

In [51]:
balancedMF = X_res, y_res

In [ ]:
#convert tuple to dF

In [52]:
balancedMF.to_csv("../Data/balancedMF.csv")

AttributeError: 'tuple' object has no attribute 'to_csv'

## train-test-split