In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/Dataset.csv")

In [4]:
df

         flavor\tnum
0  mint choc chip\t5
1         vanilla\t2
2       chocolate\t3
3       pistachio\t4
4      rocky road\t3
5            oreo\t1